{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block content %}
    <p>
        <a href="https://drive.google.com/drive/u/1/folders/1CayG1GziNvipVFgjWXxrbr3IXcEp4roM" target="_blank" class="btn btn-primary">
            Текст курсової роботи
        </a>
        <a href="/download_assoc_data" download class="btn btn-secondary">
            Завантажити інформацію про асоціативні зв'язки
        </a>
    </p>
    <h2>Функції веб-додатку</h2>
    <hr class="my-4">
    <ul class="list-unstyled">
        <li>
            <strong>Головна сторінка:</strong>
            <p>Містить загальну інформацію про веб-додаток.</p>
        </li>
    </ul>
    <hr class="my-4">
    <ul class="list-unstyled">
        <li>
            <strong>Демонстрація на підграфі:</strong>
            <p>Забезпечує інтерактивний інтерфейс для вибору двох слів та візуалізації частини семантичної мережі.</p>
            <ul>
                <li>Візуалізація підграфа.</li>
                <li>Запуск алгоритму локальної оптимізації для знаходження найкоротшого шляху на підграфі.</li>
            </ul>
        </li>
    </ul>
    <hr class="my-4">
    <ul class="list-unstyled">
        <li>
            <strong>Пошук найкоротшого шляху в мережі:</strong>
            <p>Дозволяє користувачам обирати два слова та знаходити між ними найкоротший шлях у семантичній мережі.</p>
            <ul>
                <li>Візуалізація найкоротшого шляху між двома обраними словами.</li>
                <li>Запуск алгоритму локальної оптимізації.</li>
                <li>Перегляд повного списку слів в мережі.</li>
            </ul>
        </li>
    </ul>
    <hr class="my-4">
    <ul class="list-unstyled">
        <li>
            <strong>Візуалізація семантичної мережі:</strong>
            <p>Забезпечує візуальне представлення всієї мережі, включаючи вузли та ребра з відповідними мітками.</p>
        </li>
    </ul>
{% endblock %}
