{% extends 'base.html' %}

{% block title %}Повна мережа{% endblock %}

{% block additional_scripts %}
<link href="https://unpkg.com/vis-network@9.1.0/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://unpkg.com/vis-network@8.3.0/dist/vis-network.min.js"></script>

<style>
    .form-column {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #messageBox {
        margin-top: 10px;
        color: #333;
        max-width: 100%;
        word-wrap: break-word;
    }
    #network {
        width: 834px;
        height: 590px;
        background: white;
        overflow: hidden; /* Prevents content from spilling out */
        resize: none; /* Prevents resizing */
    }
    .fixed-size {
        width: 100%;
        height: 590px;
        background: white;
    }
    .word-list {
        height: 60px; /* Decreased height */
        overflow-y: scroll;
        margin-top: 15px;
    }
    .section-divider {
        margin: 20px 0;
        border-top: 1px solid #ccc;
    }
    .available-words-title {
        font-size: 1.2em;
    }
    .bottom-button-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h1>Повна мережа: демонстрація алгоритму</h1>
            <div id="network" class="fixed-size"></div> <!-- Container for the graph -->
        </div>
        <div class="col-md-3 form-column">
            <h2>Введіть слова</h2>
            <form id="checkWordsForm">
                <div class="mb-3">
                    <label for="wordInput1">Слово 1</label>
                    <input type="text" class="form-control" id="wordInput1" name="word1">
                </div>
                <div class="mb-3">
                    <label for="wordInput2">Слово 2</label>
                    <input type="text" class="form-control" id="wordInput2" name="word2">
                </div>
                <button type="submit" class="btn btn-primary" id="submitBtn">Підтвердити</button>
                <button type="button" class="btn btn-danger" id="clearBtn">Очистити</button>
                <div id="messageBox"></div> <!-- Message box for notifications -->
            </form>
            <div class="section-divider"></div>
            <form id="newSecondWordForm">
                <div class="mb-3">
                    <label for="newSecondWord">Нове друге слово</label>
                    <input type="text" class="form-control" id="newSecondWord" name="newSecondWord" disabled>
                </div>
                <button type="submit" class="btn btn-primary" id="submitNewWordBtn" disabled>Підтвердити</button>
                <div id="newWordMessageBox"></div> <!-- Message box for notifications -->
            </form>
            <div class="section-divider"></div>
            <h3 class="available-words-title">Доступні слова</h3>
            <div class="word-list" id="wordList">
            </div>
            <div class="bottom-button-container">
                <button type="button" class="btn btn-secondary" id="newButton">Нова кнопка</button>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('checkWordsForm');
    const messageBox = document.getElementById('messageBox');
    const submitBtn = document.getElementById('submitBtn');
    const clearBtn = document.getElementById('clearBtn');
    const networkContainer = document.getElementById('network');
    const wordList = document.getElementById('wordList');

    const newSecondWordForm = document.getElementById('newSecondWordForm');
    const newSecondWordInput = document.getElementById('newSecondWord');
    const newWordMessageBox = document.getElementById('newWordMessageBox');
    const submitNewWordBtn = document.getElementById('submitNewWordBtn');
    const newButton = document.getElementById('newButton');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const word1 = document.getElementById('wordInput1').value.trim();
        const word2 = document.getElementById('wordInput2').value.trim();

        if (word1 === "" || word2 === "") {
            messageBox.textContent = "Будь ласка, введіть обидва слова.";
            messageBox.style.color = 'red';
            return;
        }

        if (word1 === word2) {
            messageBox.textContent = "Введені слова є однаковими.";
            messageBox.style.color = 'red';
            return;
        }

        submitBtn.disabled = true;
        clearBtn.disabled = true;
        messageBox.textContent = "Проводиться оптимізація графа, зачекайте...";
        messageBox.style.color = 'blue';

        const jsonPath = determinePath(word1, word2);

        fetch('/optimize_graph', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `word1=${encodeURIComponent(word1)}&word2=${encodeURIComponent(word2)}`
        })
        .then(response => response.json())
        .then(data => {
            messageBox.textContent = data.message;
            messageBox.style.color = data.status === 'error' ? 'red' : 'green';
            if (data.status === 'success') {
                loadGraph(jsonPath);
                newSecondWordInput.disabled = false;
                submitNewWordBtn.disabled = false;
            }
            submitBtn.disabled = false;
            clearBtn.disabled = false;
        })
        .catch(error => {
            console.error('Fetch error:', error);
            messageBox.textContent = "Network error: Could not retrieve data.";
            messageBox.style.color = 'red';
            submitBtn.disabled = false;
            clearBtn.disabled = false;
        });
    });

    newSecondWordForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const word1 = document.getElementById('wordInput1').value.trim();
        const newSecondWord = newSecondWordInput.value.trim();

        if (newSecondWord === "") {
            newWordMessageBox.textContent = "Будь ласка, введіть нове друге слово.";
            newWordMessageBox.style.color = 'red';
            return;
        }

        submitNewWordBtn.disabled = true;
        newWordMessageBox.textContent = "Проводиться реконструкція шляху, зачекайте...";
        newWordMessageBox.style.color = 'blue';

        fetch('/optimize_new_second_word', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `startNode=${encodeURIComponent(word1)}&newSecondWord=${encodeURIComponent(newSecondWord)}`
        })
        .then(response => response.json())
        .then(data => {
            newWordMessageBox.textContent = data.message;
            newWordMessageBox.style.color = data.status === 'error' ? 'red' : 'green';
            if (data.status === 'success') {
                loadGraph('/optimized_path_data');
            }
            submitNewWordBtn.disabled = false;
        })
        .catch(error => {
            console.error('Fetch error:', error);
            newWordMessageBox.textContent = "Network error: Could not retrieve data.";
            newWordMessageBox.style.color = 'red';
            submitNewWordBtn.disabled = false;
        });
    });

    clearBtn.addEventListener('click', function () {
        document.getElementById('wordInput1').value = '';
        document.getElementById('wordInput2').value = '';
        newSecondWordInput.value = '';
        newSecondWordInput.disabled = true;
        submitNewWordBtn.disabled = true;
        loadGraph('/optimized_path_intro_data');
        messageBox.textContent = '';
        newWordMessageBox.textContent = '';
    });

    function determinePath(word1, word2) {
        if (word1 === "" && word2 === "") {
            return '/optimized_path_intro_data';
        }
        return '/optimized_path_data';
    }

    function loadGraph(jsonPath) {
        fetch(jsonPath)
        .then(response => response.json())
        .then(data => {
            const nodes = data.nodes ? new vis.DataSet(data.nodes.map(node => ({
                id: node.key,
                label: node.label,
                title: `Value: ${node.value}`,
                color: node.is_corner ? '#FDCFD6' : '#BFD8ED'
            }))) : new vis.DataSet();

            const edges = data.edges ? new vis.DataSet(data.edges.map(edge => ({
                from: edge.from,
                to: edge.to,
                label: edge.label,
                title: `Weight: ${edge.weight}`,
                length: 300,
                font: { align: 'top', size: 14 },
                color: { color: '#848484', highlight: '#848484', hover: '#848484' }
            }))) : new vis.DataSet();

            const graphData = {
                nodes: nodes,
                edges: edges
            };

            const options = {
                edges: {
                    arrows: {
                        to: {
                            enabled: true,
                            scaleFactor: 0.8
                        }
                    },
                    font: {
                        align: 'top' // Ensure edge labels are placed above the edges
                    },
                    smooth: true
                },
                physics: {
                    enabled: true
                }
            };

            const network = new vis.Network(networkContainer, graphData, options);
            network.fit();
        })
        .catch(error => {
            console.error('Error loading optimized path data:', error);
        });
    }

    function loadWordList() {
        fetch('/words_full')
        .then(response => response.json())
        .then(data => {
            wordList.innerHTML = '';
            data.forEach(word => {
                const listItem = document.createElement('div');
                listItem.textContent = word.Name;
                wordList.appendChild(listItem);
            });
        })
        .catch(error => {
            console.error('Error loading word list:', error);
        });
    }

    loadGraph('/optimized_path_intro_data');  // Initial load of the introduction graph
    loadWordList();  // Load the list of words
});
</script>
{% endblock %}
