{% extends 'base.html' %}
{% block title %}Інструкція{% endblock %}
{% block content %}
    <h2>Інструкція</h2>
    <div class="float-start me-3 mb-3" style="max-width: 600px; margin-right: 50px;">
        <img src="{{ url_for('static', filename='img/tutorial.png') }}" alt="Tutorial Image" class="img-fluid">
    </div>
    <p>
        На даному фрагменті продемонстровано три вершини: «кохання», «біль» та «страх», а також ребра «біль –> страх», «страх –> біль», «кохання –> біль» («стимул –> реакція»). Червоним кольором відмічені ті ребра і вершини, які входять у шлях найкоротшого ваги між двома обраними словами.
    </p>
    <p>
        Мітка «біль СТ [109 / 203] РЕ [117 / 603] | мітка = 0» дає змогу користувачу отримати таку інформацію:
        <ul>
            <li><strong>«біль»</strong> – слово, що є частиною СМ (реакція та/або стимул);</li>
            <li><strong>«СТ [109 / 203]»</strong> – опціональна частина, яка присутня тільки тоді, коли слово є стимулом. Число 109 означає кількість відмінних реакцій, викликаних даним стимулом. Число 203 означає загальну кількість реакцій, викликаних даним стимулом;</li>
            <li><strong>«РЕ [117 / 603]»</strong> – інформація про статистику надання слова як реакції. Число 117 означає кількість різних стимулів, які викликали появу даної реакції. Число 603 означає загальну кількість стимулів, які викликали появу даної реакції;</li>
            <li><strong>«мітка = 0»</strong> – мітка, що була обрахована після застосування алгоритму ЛО. Приймає дійсні числові значення від 0, та «inf», якщо шляху до певної вершини не існує.</li>
        </ul>
    </p>
    <p>
        Ребро від вершини «страх» до вершини «біль» має мітку «2 / 206 | вага = 103.0». Вона надає таку інформацію:
        <ul>
            <li><strong>«2 / 206»</strong> – число 2 означає кількість разів, яку кінець ребра було названо як реакцію на початок ребра (стимул). Число 206 – загальна кількість реакцій на даний стимул;</li>
            <li><strong>«вага = 103.0»</strong> – величина, обернена до сили асоціативного зв’язку між стимулом та реакцією.</li>
        </ul>
    </p>
{% endblock %}
